[submodule "ENUMJS"]
	path = ENUMJS
	url = https://github.com/GeorgeSchafer/ENUMJS.git
[submodule "test/ChaiFunctions"]
	path = test/ChaiFunctions
	url = https://github.com/GeorgeSchafer/ChaiFunctions.git
