[submodule "ENUMJS"]
	path = ENUMJS
	url = https://github.com/GeorgeSchafer/ENUMJS.git
[submodule "git"]
	path = git
	url = https://github.com/jauntyjocularjay/kwikgit.git
[submodule "module/verbs"]
	path = module/verbs
	url = https://github.com/jauntyjocularjay/verbsjs.git
