[submodule "sh"]
	path = sh
	url = https://github.com/GeorgeSchafer/KwikGit.git
[submodule "ENUMJS"]
	path = ENUMJS
	url = https://github.com/GeorgeSchafer/ENUMJS.git
[submodule "test/ChaiFunctions"]
	path = test/ChaiFunctions
	url = https://github.com/GeorgeSchafer/ChaiFunctions.git
